name: Test action

on:
  push:
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - uses: ./
        with:
          dist_path: "./dist/index.js"
          token: ${{ secrets.GITHUB_TOKEN }}
